body{
    font-family: 'poppins', sans-serif;
    background-color: #f3f4ff;
}

.img-sidebar{
    width: 60px;
    height: 60px;
}

.img-purple{
    filter: invert(26%) sepia(10%) saturate(5129%) hue-rotate(215deg) brightness(91%) contrast(91%);
    width: 25px !important;
    height: 25px !important;
}

.img-purple-large{
    filter: invert(26%) sepia(10%) saturate(5129%) hue-rotate(215deg) brightness(91%) contrast(91%);
    width: 60px !important;
    height: 60px !important;
}

.img-white{
    filter: invert(100%);
    width: 25px !important;
    height: 25px !important;
}

.purple-card-header{
    background-color: #4d44b5 !important;
}

.purple-text-stay{
    color: #4d44b5 !important;
}

.purple-text{
    color: #4d44b5 !important;
    font-size: large !important;
}

.white-text{
    color: white !important;
    font-size: large !important;
}

.title-font{
    font-size:4rem !important;
}

.sidebar {
    width: 15%;
    min-height: 100vh;
    background-color: #4d44b5;
    color: white;
    position: fixed;
    left: 0;
    padding-top: 20px;
}

.title-sidebar{
    font-size: 2rem !important;
}

.list-space{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.main-content {
    margin-left: 15%;
    width: 85%;
    background-color: #f3f4ff;
    min-height: 100vh;
    padding: 20px;
}

.middle-gap{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.content-placeholder{
    width: 75%;
    margin: 0 auto;
}

.profile-pict{
    width: 10rem !important;
    height: 10rem !important;
}

.nav-item a {
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
    text-decoration: none;
    color: white;
}

.nav-item a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.nav-item a img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.nav-item span {
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    color: white;
}

@media (max-width: 576px) {
    .sidebar {
        width: 15%;
        position: fixed;
        min-height: 100%;    }

    .sidebar h1 {
        display: none;
    }

    .nav-item a span {
        display: none;
    }

    .nav-item a img {
        width: 18px;
        height: 18px;
    }
}

@media (max-width: 800px) {
    .sidebar {
        width: 15%;
        position: fixed;
        min-height: 100%;
    }

    .title-sidebar{
        display: none !important;
    }

    .white-text{
        display: none !important;
    }

    .purple-text{
        display: none !important;
    }

    .main-content {
        margin-left: 0;
        width: 100%;
    }

    .content-placeholder-mid{
        align-items: center !important;
    }

    .low-pixel-hide{
        display: none !important;
    }
}

@media (max-width: 1050px) {
    .mid-pixel-hide{
        display: none !important;
    }
}